@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.5 Georgia,serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fffbd8;
}

header {
  background-color: #2a1212;
  padding: 2rem 0;
  text-align: center;
  position: relative;
}


header h1 {
  font-family: 'Mr Bedfort', cursive;
  color: #b2a25b;
  font-size: 2.2rem;
  margin-top: 0;
}

.logo1 {
  width: 40px;
  position: absolute;
  bottom: .5rem;
  left: 50%;
  transform: translateX(-50%);
}

.logo2 {
  width: 40px;
  position: absolute;
  display: none;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #2a1212;
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 15em;
}

.nav a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: #b2a25b;
}

.nav a:hover {
  color: #2a1212;
  background-color: #fffbd8;
  cursor: pointer;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
  z-index: 1000;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: .5rem;
  padding-left: .5em;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

main {
 margin: 0 1rem;
}

.link-card {
  text-decoration: none;
  display: block;
}

.link-card:hover {
  opacity: .5;
  cursor: pointer;
}

.wrapper {
  margin: 1rem 0;
  position: relative;
}

.home-img {
  width: 100%;
  border: solid #2a1212 .25rem;
  display:block;
  margin-bottom: 0;
}

.banner-figcaption {
  background-color: #2a1212;
  padding-bottom: .6rem;
}

.img-banner {
  color: #fffbd8;
  margin: 0 0 0 .8rem;
  font-size: 1.25rem;
  padding: 0;
}

.img-banner ~ p {
  color: #fffbd8;
  margin: 0 0 0 .8rem;
  font-style: italic;
  font-size: .75rem;
  width: 90%;
}

.div-h2 {
  text-align: center;
}

.paul-top {
  display: none;
}

h2 {
  display: inline-block;
  color: #2a1212;
  padding: 0 2rem;
  border-top: solid #2a1212 .2rem;
  border-bottom: solid #2a1212 .2rem;
}

p {
  color: #2a1212;
  margin: 0;
}

.about-figcaption {
font-style: italic;
font-size: .8rem;
text-align: center;
}


.ul-chocolates {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li-chocolates {
  margin-bottom: 1rem;
}

.products-link {
  text-decoration: none;
  display: block;
  color: #2a1212;
  margin: 0;
}

h3 {
  font-style: italic;
  padding-left: 1rem;
  margin: .3rem 0;
}

img {
  display: block;
  width: 100%;
  border: solid #2a1212 .25rem;
  margin: .25rem 0;
}

.products-link > p {
  margin: 0;
  font-style: italic;
  text-align: center;
  font-size: .9rem;
}

.products-link:hover {
  opacity: .5;
  text-decoration: underline;
  cursor: pointer;
}

.store-pic {
  width: 100%;
  display: block;
}

.store-div {
  display: block;
}

.store-div p {
  margin: 0 .25rem;
}

.btn-wrapper {
  text-align: center;
  margin: .5rem 0 1rem;
}

.btn {
  display: inline-block;
  background-color: #2a1212;
  border-radius: 10px;
  text-decoration: none;
  border: 4px solid #2a1212;
  padding: .75em;
  color: #fffbd8;
}

.btn:hover {
  opacity: .5;
  cursor: pointer;
}

.hours-div {
  text-align: center;
}

table {
  text-align: left;
  margin: 1rem 0;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding-left: 1rem;
}

time {
  font-variant-caps: small-caps;
}

.people-reviews {
  background: #f3e4b2;
  padding: 1rem .5rem;
  margin-bottom: 1rem;

}

.img-reviews {
  border: none;
  width: 80px;
  float: left;
  margin-right: 1rem;
}

.img-stars {
  border: none;
  width: 80px;
  margin: 0;
  margin-right: 1rem;
}

.people-reviews h3 {
  font-size: 1.25rem;
  padding: 0;
}

.review-text {
  margin: .5rem 0;
}

.review-text p:last-child {
  text-align: right;
}


footer {
  text-align: center;
  color: #fffbd8;
  background-color: #2a1212;
  padding: .5em;
  font-size: 1.125rem;
  margin: 0;
}

.social-media {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-media-img {
  width: 50px;
}

.social-media a {
display: block;
}

.social-media a:hover {
  opacity: .5;
}

.social-media li {
  display: inline-block;
  padding: 1rem .5rem;
}

@media only screen and (min-width: 25em) {

  .nav-label {
    width: 50px;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  header {
    padding-bottom: .5rem;
  }

  .logo1 {
    width: 50px;
    position: absolute;
    top: 1rem;
    left: 90%;
    transform: 0;
  }

  .logo2 {
    display: block;
    width: 50px;
    position: absolute;
    top: 1rem;
    left: 10%;
  }

  header h1 {
    margin-bottom: 0;
  }

  .banner-figcaption {
    position: absolute;
    bottom: 1.5rem;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    display: block;
  }

  .banner-wrap {
    max-width: 30rem;
    margin: 0 auto;
  }

  .img-banner {
    color: #fffbd8;
    margin: 0 0 0 .8rem;
    font-size: 1.25rem;
    padding: 0;
    border-top: 0;
  }

  .img-banner ~ p {
    color: #fffbd8;
    margin: 0 0 0 .8rem;
    font-style: italic;
    font-size: .75rem;
    width: 100%;
  }

  figure.paul-top {
    width: 25%;
    display: block;
    float: left;
    margin: .5rem .5rem;
  }

  figure.paul-bottom {
    display: none;
  }

  .li-chocolates {
  width: 50%;
  float:left;
  padding: 1rem;
  }

  .store-text {
  float: left;
  width: 60%;
  }

  .store-div {
  padding-top: 1rem;
  }

  .btn-wrapper {
    text-align: left;
  }

  .nav {
    display: block;
    z-index: 1000;
    position: relative;
    width: 100%;
  }

  .nav-label {
    display: none;
  }

  .nav li {
    display: inline-block;
  }

  .nav a {
    padding: .5rem 1.5rem;
  }

  .wrapper {
    clear: both;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .logo1 {
    width: 60px;
  }

  .logo2 {
    width: 60px;
  }

  .banner-figcaption {
    bottom: 2rem;
  }

  .paul-top {
    border-top: .3rem solid #2a1212;
    border-bottom: .3rem solid #2a1212;
  }

  .wrapper:nth-child(even) {
    max-width: 45em;
    margin: 0 auto;
  }

  .social-media-img {
    width: 60px;
  }

  .social-media li {

    padding: 1rem 2rem;
  }

  .people-reviews {
    display: inline-block;
    width: 24.5%;
    vertical-align: top;
    height: 25em;
  }

  .wrapper:nth-child(5) {
    text-align: center;
  }

  .review-text p {
    text-align: left;
  }

  .review-banner h3 {
    text-align: left;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .li-chocolates {
    width: 25%;
  }

  .logo1 {
    width: 70px;
  }

  .logo2 {
    width: 70px;
  }

  .div-h2:nth-child(3) {
    clear: both;
  }

  .people-reviews {
    height: 20em;
  }

}
